<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="home.css">
</head>
<body>
  
    <div class="header">
        <h2>My Awesome Website</h2>
    </div>
    <div class="side_and_body">

    <div class ="side-bar">
<ul>
    <li style="list-style: none; margin-top: 10px;"><a href="lik-one" style="color: white; text-decoration: none;  ">✡️ link One</a></li>
    <li style=" list-style: none; margin-top: 10px;"><a href="lik-one"style="color: white; text-decoration: none; list-style: none;">👦 link Two</a></li>
    <li style=" list-style: none; margin-top: 10px;"><a href="lik-one"style="color: white; text-decoration: none; list-style: none;">🖌️ link Three</a></li>
    <li style=" list-style: none; margin-top: 10px;"><a href="lik-one"style="color: white; text-decoration: none; list-style: none;">👌 link Four</a></li>
    
</ul>

    </div>
<div class="main">
<div class="cards">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Repellendus porro similique neque id assumenda vero dolore asperiores aperiam quidem a quia maxime eligendi iure,
         ullam praesentium quisquam, sapiente, voluptatibus magnam?</p>
</div>
<div class="cards">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Repellendus porro similique neque id assumenda vero dolore asperiores aperiam quidem a quia maxime eligendi iure,
         ullam praesentium quisquam, sapiente, voluptatibus magnam?</p>
</div>
<div class="cards">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Repellendus porro similique neque id assumenda vero dolore asperiores aperiam quidem a quia maxime eligendi iure,
         ullam praesentium quisquam, sapiente, voluptatibus magnam?</p>
</div>
<div class="cards">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Repellendus porro similique neque id assumenda vero dolore asperiores aperiam quidem a quia maxime eligendi iure,
         ullam praesentium quisquam, sapiente, voluptatibus magnam?</p>
</div>
<div class="cards">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Repellendus porro similique neque id assumenda vero dolore asperiores aperiam quidem a quia maxime eligendi iure,
         ullam praesentium quisquam, sapiente, voluptatibus magnam?</p>
</div>
<div class="cards">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Repellendus porro similique neque id assumenda vero dolore asperiores aperiam quidem a quia maxime eligendi iure,
         ullam praesentium quisquam, sapiente, voluptatibus magnam?</p>
</div>
</div>
</div>
    <div class="footer">
<h4 style="text-align: center; padding: 5px;"> The Odin Project ❤️</h4>
    </div>
</body> 
</html>