<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class ="header">
        <div class="right-link">
    <a href="#">about</a>
    <a href="#">store</a>
        </div>
        <div class="left-link">
            <a href="#">profile</a>
            <a href="#">setting</a>
            
        </div>
    </div>
   <div class="container">
    <center>
    <div class="image text">

    <img src="https://github.com/TheOdinProject/css-exercises/blob/main/flex/06-flex-layout/logo.png?raw=true">
   
  
    </div>
      <div class="textarea">
      
        </div>

<div class="buttons-odin">
    <button type="button"class="buttons">Do The thing </button>
    <button type="button"class="buttons">Do not other thing </button>
</div>
</center>

</div> 
<div class ="footer">
    <div class="right-link">
<a href="#">Advertising</a>
<a href="#">Business</a>
    </div>
    <div class="left-link">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        
    </div>
</div>
</body>
</html>
