.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
margin-bottom: 32px;
}
.item{
    flex: 1;
    width: 350px;
    padding: 20px;
    gap: 52px;

}
img{
    width: 250px;
}